@{      ViewData["Title"] = "Wait List";
}
@model List<ApplicationResponse> 
<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>DirectorFirstName</td>
            <td>DirectorLastName</td>
            <td>Rating</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var x in Model)
            {
        <tr>
            <td>@x.Category.CategoryName</td>
            <td>@x.Title</td>
            <td>@x.Year</td>
            <td>@x.DirectorFirstName</td>
            <td>@x.DirectorLastName</td>
            <td>@x.Rating</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieID">Delete</a></td>
        </tr>
            }
    </tbody>
</table>